@use "./styles/button.scss";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    background-color: rgb(26, 25, 25);
    color: antiquewhite;
}

.highlight{
    color: rgb(177, 30, 42);
}